@import "tailwindcss";
@import "./variables.css";
@import './woocommerce.css';
@import "./blocks/contact.css";
@source "../views";
@source "../../app";

@layer utilities {
  .container {
    @apply mx-auto w-full;
    max-width: min(100%, var(--container-2xl));
    padding-inline: var(--container-padding);
  }

  .contentText {
    p {
      @apply my-4 font-light;
    }

    ul{
      @apply list-disc list-inside;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-bold;
    }

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    h5 {
      @apply text-base;
    }

    a{
      @apply text-secondary underline;
    }

    strong{
      @apply font-bold;
    }
  }
}

body, html{
  @apply overflow-x-hidden;
}

.exclu-item,
.new-item{
  position:relative;
  display: inline-flex;
  align-items:center;

  &::before{
    border-radius:50px;
    padding:4px 8px;
    font-weight:bold;
    font-size:12px;
    margin-right:8px;
  }
}

.new-item::before{
  content:'NEW';
  color: var(--color-primary-800);
  background-color: white;
}

.exclu-item::before{
  content:'EXCLU';
  color: var(--color-primary-800);
  background-color: var(--color-secondary);
}

.rpi-header{
  @apply hidden;
}

.gtranslate_wrapper{
  a{
    border-radius:30px;
    padding-inline:8px;
  }
}
