@import "tailwindcss";
@import "./variables.css";
@source "../views";
@source "../../app";

@layer utilities {
  .container {
    @apply mx-auto w-full;
    max-width: min(100%, var(--container-2xl));
    padding-inline: var(--container-padding);
  }

  .contentText {
    p {
      @apply my-4 font-light;
    }

    ul{
      @apply list-disc list-inside;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-bold;
    }

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    h5 {
      @apply text-base;
    }

    a{
      @apply text-secondary underline;
    }

  }
}


.rpi-header{
  @apply hidden;
}
