@import "tailwindcss";
@import "./variables.css";


@layer base {
  .wp-block-post-title{
    color: black !important;
  }

  .editor-styles-wrapper .wp-block {
    max-width: none;
  }

  .shadow-button {
    box-shadow: var(--wp--preset--box-shadow--button);
  }

  *{
    color: inherit;
  }

}

.block-editor__container img{
  height:100%;
}
